@charset "utf-8";

/*!
 * base.css
 *
 * ページ・テンプレートとなる大枠部分、
 * 背景・ヘッダー・フッター・大枠のカラム分けなどの設定ファイル。
 * CSSで使う背景画像は、共通のアイコン等以外すべて、
 * /resources/img/base 以下に格納する。
 *
 * - structure
 * - header
 * - nav
 * - footer
 * - pageUp
 */

/**
 * structure
 *
 * 基本的なエリア（枠組み）のカラム分けと背景を設定
 */

html, body {
	/* メイン背景・文字色 */
}


body {
}


a {
}

a:link    {}
a:visited {}
a:hover   {}
a:active  {}


#document {
}


#header {
}


#contents {
}


#footer {
}





/**
 * header
 *
 * - 
 * - 
 */



/*
 * Release Notes:
 * 
 * 2011-XX-XX - NAME@skillpartners.co.jp
 *              初回作成
 */
